.gameSettingsCard {
  opacity: 0;
  transform: translateX(-300%);
  transition: transform 0.8s ease;
}

.gameSettingsCard.mounted {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease, opacity 0.5s ease;
}

.pageTitle {
  opacity: 0;
  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.pageTitle.mounted {
  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease, opacity 0.5s ease;
}

