.tournament-entry {
  background-color: white;
  height: 80px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.tournament-entry:hover {
  background-color: #f0f0f0;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.disabled {
  background-color: #f0f0f080;
  pointer-events: none;
  opacity: 0.3;
}