.lobby-entry {
	height: 80px;
	transition: background-color 0.3s;
	cursor: pointer;
}

.lobby-entry:hover {
	background-color: #d7d7d7;
}

.scrollbar::-webkit-scrollbar {
	display: none;
}


.disabled {
	background-color: #f0f0f080;
	pointer-events: none;
	opacity: 0.3;
}