/* h2 {
	margin: 20px;
	padding: 5px;
}

h3 {
	text-decoration: underline;
	margin-bottom: 20px;
}

.stats, .leaderboard {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 20px;
	padding: 20px;
}

.dashboard-content {
	display: flex;
	text-align: center;
	margin-right: 315px;
}

.stats, .leaderboard {
	flex: 1;
	border: 5px dashed rgb(69, 30, 210);
}

.stats ul {
	list-style-type: none;
	margin: 10px;
	padding: 0%;
}

.leaderboard li {
	margin: 10px;
	font-size: 1.2em;
} */